#im1 {
    padding-top: 10px;
 float:left;
    padding-bottom: 60px;
}

#cit1{
padding-top: 80px;   
float:right;
width:250px;
color:black
}

h2{
 text-align: center;
    
}

#main{
 text-align: justify;   
}