body {
    
 background-color: gray;
}

#header{
 text-align: center;
 color:white;
 background-color: darkcyan;


}
#header h1{
 margin:5px;   
}
#container {
    width:800px;
    margin-left: auto;
    margin-right:auto;
    background-color: azure;
    
}


#nav{
 float:left;
  width:180 px;
    
}

#nav ul{
 list-style-type: none;
    color:brown
}

a{
 text-decoration: none; 
    color:brown;
}

#nav ul li {
 font-weight: bold;
    font-size:20px;
    padding-bottom: 5px;
}

#main{
 width:580px;
 float:right;
padding-bottom:20px;
padding-right:10px;

}


#footer{
    
 clear:both;   
    margin-top: 40px;
    padding:20px;
    text-align: center;
    background-color: gray
}

.selected a{
    
 color:crimson;   
}

#content{
 padding:10px;   
}
